.contact_container {
  background-color: black;
  flex: 1;
  margin-left: 200px;
  margin-right: 200px;
}

.form-container {
  width: 500px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  border-radius: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: #4caf50;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.flexbox-container {
  display: flex;
}

.flexbox-item {
  width: 50%;
  margin: 10px;
  border: 0.2px solid #0047ab;
  background-color: #ffffff;
  border-radius: 10px;
}

.flexbox-item-1 {
  min-height: 700px;
  align-items: center;
  justify-content: center;
}

.flexbox-item-2 {
  min-height: 200px;
}

.information-container {
  font-size: x-large;
  width: 100%;
  height: 500px;
  padding-left: 100px;
  margin-top: 30px;
}
